<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Container Inspection</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>

<body>


    <div class="container mt-4">
        <h1>Container Information</h1>

        <button type="button" class="btn btn-outline-danger" id="downloadMetadata">Dump Metada</button>
        <button type="button" class="btn btn-outline-danger" id="downloadProcesses">Dump Processes</button>
        <button type="button" class="btn btn-outline-danger" id="downloadResources">Resource Usage</button>
        <button type="button" class="btn btn-outline-danger" id="downloadFileSystem">Dump FileSystem</button>

        <div class="row mt-4">
            <!-- Container Basic Details -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Container Basic Details</h3>
                        <p><strong>Name:</strong> {{ container_data.Name }}</p>
                        <p><strong>ID:</strong> {{ container_data.Id[:25] }}(...)</p>

                        <p><strong>Status:</strong> {{ container_data.State.Status }}</p>
                        <p><strong>Image:</strong> {{container_data.Config.Image }}</p>
                        <p><strong>Created:</strong> {{container_data.Created }}</p>
                    </div>
                </div>
            </div>

            <!-- Container Network Configuration -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Container Network Configuration</h3>
                        <p><strong>Network Mode:</strong> {{ container_data.HostConfig.NetworkMode }}</p>
                        <p><strong>Hostname:</strong> {{ container_data.Config.Hostname }}</p>

                        {% if container_data.Config.ExposedPorts %}

                        {% for key in container_data.Config.ExposedPorts.keys() %}

                        <p><strong>Exposed Ports:</strong> {{ key }}</p>

                        {% endfor %}
                        {% endif %}

                        <!-- Add more network-related details here -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Container State -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Container State</h3>
                        <p><strong>Status:</strong>{{ container_data.State.Status }}</p>
                        <p><strong>Started At:</strong> {{ container_data.State.StartedAt }}</p>
                        <!-- Add more state-related details here -->
                    </div>
                </div>
            </div>

            <!-- Mounts -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Mounts</h3>
                        {% for mount in container_data.Mounts %}
                        <p><strong>Name: </strong> {{ mount.Name }}</p>
                        <p><strong>Source: </strong> {{ mount.Source }}</p>
                        <p><strong>Destination: </strong> {{ mount.Destination }}</p>
                        <!-- Add more mount details -->
                        {% endfor %}
                        <!-- Add more mount-related details here -->
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <!-- Container Processes -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h3 class="card-title">Running Processes</h3>
                        {% for process in container_processes.Processes %}
                        <ul class="list-group"></ul>
                        <li class="list-group-item"><strong>UID:</strong>{{ process[0] }}</li>
                        <li class="list-group-item"><strong>Command:</strong> {{ process[7] }}</li>
                    </ul>
                        {% endfor %}

                    </div>
                </div>
            </div>

           
        </div>
    </div>



    <!-- jQuery and Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


    <script>
        document.getElementById('downloadMetadata').addEventListener('click', function () {
            const xhr = new XMLHttpRequest();
            const url = window.location.href + '/json'; // Replace this with the actual endpoint on your server

            xhr.open('GET', url);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const blob = new Blob([xhr.response], { type: 'application/json' });
                    const url = URL.createObjectURL(blob);

                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'data.json';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                    alert('Failed to download JSON. Please try again.');
                }
            };

            xhr.send();
        });

        document.getElementById('downloadProcesses').addEventListener('click', function () {
            const xhr = new XMLHttpRequest();
            const url = window.location.href + '/top'; // Replace this with the actual endpoint on your server

            xhr.open('GET', url);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const blob = new Blob([xhr.response], { type: 'application/json' });
                    const url = URL.createObjectURL(blob);

                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'data.json';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                    alert('Failed to download JSON. Is the container running?');
                }
            };

            xhr.send();
        });
        document.getElementById('downloadResources').addEventListener('click', function () {
            const xhr = new XMLHttpRequest();
            const url = window.location.href + '/stats'; // Replace this with the actual endpoint on your server

            xhr.open('GET', url);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const blob = new Blob([xhr.response], { type: 'application/json' });
                    const url = URL.createObjectURL(blob);

                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'data.json';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                    alert('Failed to download JSON. Is the container running?');
                }
            };

            xhr.send();
        });


        document.getElementById('downloadFileSystem').addEventListener('click', function () {
            const xhr = new XMLHttpRequest();
            const url = window.location.href + '/export'; // Replace this with the actual endpoint on your server

            xhr.open('GET', url);
            xhr.responseType = 'blob';

            xhr.onload = function () {
                if (xhr.status === 200) {
                    const blob = new Blob([xhr.response], { type: 'application/x-tar' });
                    const url = URL.createObjectURL(blob);

                    const a = document.createElement('a');
                    a.href = url;
                    a.download = 'fileSystem.tar';
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                    URL.revokeObjectURL(url);
                } else {
                    console.error('Request failed. Status: ' + xhr.status);
                    alert('Failed to download tar. Is the container running?');
                }
            };

            xhr.send();
        });
    </script>


</body>

</html>