<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Docker Forensics Toolkit</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Add custom styles here */
  </style>
</head>
<body>




<div>
  <h1>Docker Status</h1>

    <!-- Accordions for Docker Container IDs -->
    <h2>Running Docker Containers</h2>

   
    <div id="containerStatus" >
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>ID</th>
              <th>Status</th>
              <th>Image</th>
              <th>Created</th>
              <th>Ports</th>
              <th>Inspect</th>
            </tr>
          </thead>
          <tbody>
            {% for container in containers %}
            {% if container.State == "running" %}

            <tr>
              <td>{{ container.Names | join(', ') }}</td>
              <td>{{ container.Id[:15] }}(...)</td>
              <td>{{ container.Status }}</td>
              <td>{{ container.Image }}</td>
              <td>{{ container.Created }}</td>
              
              <td>
               {% for port in container.Ports %}
               <li>
   
                   {{port.PrivatePort }}:{{ port.PublicPort}}
                   {% endfor %}
               </li>
   
               </td>
            <td>
   
               <a href="/container/{{ container.Id }}">
                   <button type="button" class="btn btn-outline-danger">Inspect</button>
               </a>
            </td>
   
           </tr>
           {% endif %}

            {% endfor %}
            <!-- Add more rows as needed -->
          </tbody>
        </table>
      </div>

   <!-- Accordions for Docker Container IDs -->
   <h2>All Docker Containers</h2>

   
   <div id="containerStatus" >
     <table class="table">
       <thead>
         <tr>
           <th>Name</th>
           <th>ID</th>
           <th>Status</th>
           <th>Image</th>
           <th>Created</th>
           <th>Ports</th>
           <th>Inspect</th>
         </tr>
       </thead>
       <tbody>
         {% for container in containers %}
         <tr>
           <td>{{ container.Names | join(', ') }}</td>
           <td>{{ container.Id[:15] }}(...)</td>
           <td>{{ container.Status }}</td>
           <td>{{ container.Image }}</td>
           <td>{{ container.Created }}</td>
           
           <td>
            {% for port in container.Ports %}
            <li>

                {{port.PrivatePort }}:{{ port.PublicPort}}
                {% endfor %}
            </li>

            </td>
         <td>

            <a href="/container/{{ container.Id }}">
                <button type="button" class="btn btn-outline-danger">Inspect</button>
            </a>
         </td>

        </tr>

         {% endfor %}
         <!-- Add more rows as needed -->
       </tbody>
     </table>
   </div>


   <!-- Accordions for Docker Container IDs -->
   <h2>Docker Images</h2>

   
   <div id="containerStatus" >
     <table class="table">
       <thead>
         <tr>
           <th>Label</th>
           <th>ID</th>
           <th>Created</th>
           <th>Size</th>
           
         </tr>
       </thead>
       <tbody>
         {% for image in images %}
         <tr>
           <td>{{ image.RepoTags[0]}}</td>
           <td>{{ image.Id }}</td>
           <td>{{ image.Created }}</td>
           <td>{{ image.Size }}</td>

        </tr>

         {% endfor %}
         <!-- Add more rows as needed -->
       </tbody>
     </table>
   </div>

</div>


<!-- jQuery and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


</html>